/* Move down content because we have a fixed navbar that is 50px tall */
body {
    padding-top: 50px;
    font-family: Calibri;
    font-size: 18px;
}

footer {
    margin-top: 30px;
    font-size: 15px;
    background-color: rgb(10, 131, 166);
    padding: 10px 0 0 0;
    color: #fff;
    position: fixed;
    width: 100%;
    bottom: 0
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
    margin-bottom: 65px;
}

a {
    color: #353535;
}


/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
    .body-content {
        padding: 0;
    }
}

.hero-image {
    background-image: url("../Images/HeroImage.png");
    width: 100%;
    height: 250px;
    margin-bottom: 30px;
    text-align: center;
    color: #ccc;
}

.black-transparency {
    /* https://pixabay.com */
    background-color: rgba(0, 0, 0, 0.35);
    height: 100%;
    width: 100%;
    padding: 20px;
}

.black-transparency h1 {
    letter-spacing: 4px;
    font-size: 50px;
    font-weight: 600;
}

.black-transparency p {
    font-size: 25px;
}

.black-transparency span {
    font-size: 15px;
    font-weight: bold;
    text-transform: uppercase;
    padding: 10px;
    background-color: rgba(255, 255, 255, 0.4);
    border-radius: 5px;
    color: #000;
}

.navbar-inverse {
    background-color: rgb(0, 0, 75);
    box-shadow: 0 10px 10px;
}

.navbar-inverse .navbar-brand,
.navbar-inverse .navbar-nav > li > a {
    color: #ddd;
}

.brand-logo > a {
    border: 2px solid #ddd;
    border-radius: 5px;
    font-size: 17px;
    padding: 5px;
    margin: 8px;
}

.brand-logo > a:hover {
    border: 2px solid white;
}

/* Defining the student table colors. */
.table-header,
.table-row,
.table-row-alternate {
    height: 45px;
    line-height: 45px;
    border-radius: 5px;
}

.table-header {
    background-color: rgb(0, 0, 75);
    color: #fff;
    font-weight: bolder;
    text-transform: uppercase;
}

.table-row-alternate {
    background-color: rgb(225, 225, 255);
}

.table-row:hover,
.table-row-alternate:hover {
    cursor: pointer;
    background-color: rgb(10, 131, 166);
    color: #fff;
}

.school-submit {
    padding: 7px 20px 7px 20px;
    border: 2px solid rgb(30, 50, 130);
    border-radius: 5px;
    background-color: rgb(30, 50, 130);
    color: white;
    font-family: Calibri;
    font-size: 18px;
    font-weight: 500;
    box-shadow: 0 7px 2px #a5a5a5;
}

/* Button pressed animation. */
.school-submit:hover {
    background-color: rgb(25, 15, 100);
}

.school-submit:active {
    background-color: rgb(25, 15, 100);
    box-shadow: 0 3px 2px #555555;
    transform: translateY(4px);
}

.school-error-message,
.school-error-message-hidden {
    font-family: Calibri;
    font-size: 14px;
    color: red;
}

.school-error-message-hidden {
    display: none;
}

.school-input {
    padding: 10px;
    border: 2px solid rgb(30, 50, 130);
    border-radius: 5px;
    background-color: rgb(210, 240, 250);
    width: 100%;
    margin-top: 15px;
    color: rgb(30, 50, 130);
    font-size: 18px;
}

.school-panel {
    border: 1px solid #ddd;
    border-radius: 5px;
    margin-bottom: 35px;
    overflow: auto;
    padding: 5px;
}

.school-panel-header {
    font-size: 23px;
    font-weight: 600;
    text-align: center;
    background-color: rgb(0, 0, 75);
    color: white;
    padding: 5px;
    border-radius: 5px;
}
